
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:12px;
	border-width: 1px;
	border-collapse: collapse;
	width:100%;
}
table.gridtable th {
	border-width: 1px;
	border-style: solid;
	border-color: #cad9ea;
	background-image: url(table/src/css/images/tableth.png);
	background-repeat::repeat-x;
	height:30px;
}
table.gridtable td {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #cad9ea;
	text-align:center;
	font-size:12px;
	background:none;
}

table.gridtable span {
	height:18px;
	display:block;
	overflow:hidden;
	padding-top:3px;
	text-align:center;
}

